{% extends 'base.html' %}

{% block header %}
    <script>
        const alertMessages = {{ state['alert_messages'] | tojson }};

        // Iterate over the array and display alerts
        for (let i = 0; i < alertMessages.length; i++) {
            alert(alertMessages[i]);
        }
    </script>
    <h1>{% block title %}{{ state.locs[state.loc] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <p id="user-money">
            You have <span class="money-format" id="money-value">{{ state.money }}</span> on hand.
        </p>
        <p>"Hey dude, here's the prices"</p>
        <ul class="item-list">
            {% for key, value in state.jet_data.items() %}
            <li class="item-row">
                <div class="item-info">
                    <h2 class="item-name">{{ key }}</h2>
                    <p class="item-price">{{ value }}</p>
                </div>
                <form class="buy-form">
                    <input type="hidden" name="item-id" value="{{ key }}">
                    <input type="number" name="buy-amt" class="buy-amt" value="0" min="0">
                    <button class="buy-button" id="buy-button" type="button">Buy</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        let x = document.querySelectorAll(".money-format, .item-price");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                .toLocaleString('en');
            x[i].innerHTML = num;
            x[i].classList.add("currSign");
        }
    </script>
{% endblock %}