{% extends 'base.html' %}

{% block header %}
    <!-- <script>
        const alertMessages = {{ state['alert_messages'] | tojson }};

        // Iterate over the array and display alerts
        for (let i = 0; i < alertMessages.length; i++) {
            alert(alertMessages[i]);
        }
    </script> -->
    <h1>{% block title %}{{ state.locs[state.loc] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="menu">
        <button class="view-button">Marketplace</button> 
        <span class="pipe">|</span> 
        <button class="view-button">Inventory</button>
    </div>
      <div class="container">
        {% if state.main_view == "marketplace" %}
            <p>
                You have <span id="user-money" class="user-money">{{ state.money }}</span> on hand. You are <span class="user-debt">{{ state.debt }}</span> in debt.
            </p>
            <p>"Hey dude, here's the prices"</p>
            <ul class="item-list">
                {% for key, value in state.jet_data.items() %}
                <li class="item-row">
                    <div class="item-info">
                        <h2 class="item-name">{{ key }} • <span class="item-price">{{ value }}</span></h2>
                        <p>Owned: {{ state.trench[key] | default(0) }}. You can buy a max of 5</p>
                    </div>
                    <form class="buy-form">
                        <input type="hidden" name="item-id" value="{{ key }}">
                        <input type="number" name="buy-amt" class="buy-amt" value="0" min="0">
                        <button class="buy-button" id="buy-button" type="button">Buy</button>
                        <button class="buy-button" id="buy-button" type="button">Sell</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        {% elif state.main_view == "inventory" %}
            <p>Here's your inventory. This is how many of each item you own. You have (placeholder) spaces left.</p>
            <ul class="item-list">
                {% for key, value in state.trench.items() %}
                <li class="item-row">
                    <div class="item-info">
                        <h2>{{ key }} • {{ value }}</h2>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <script>
        let x = document.querySelectorAll(".user-money, .user-debt, .item-price");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                .toLocaleString('en');
            x[i].innerHTML = num;
            x[i].classList.add("currSign");
        }
    </script>
{% endblock %}